<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="addProduct(addProductForm)"
    #addProductForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        name="Name"
        ngModel
        type="Name"
        placeholder="Name"
        #nameInput="ngModel"
        required
        name
      />
      <mat-error *ngIf="nameInput.invalid"
        >Please enter a valid Name</mat-error
      >
    </mat-form-field>

    <mat-form-field>
        <input
          matInput
          name="price"
          ngModel
          type="price"
          placeholder="Price"
          #priceInput="ngModel"
          required
          price
        />
        <mat-error *ngIf="priceInput.invalid"
          >Please enter a valid price</mat-error
        >
      </mat-form-field>

      <mat-form-field>
          <input
            matInput
            name="Description"
            ngModel
            type="Description"
            placeholder="Description"
            #descriptionInput="ngModel"
            required
            description
          />
          <mat-error *ngIf="descriptionInput.invalid"
            >Please enter a valid Description</mat-error
          >
        </mat-form-field>

        <mat-form-field>
            <input
              matInput
              name="ImageUrl"
              ngModel
              type="ImageUrl"
              placeholder="ImageUrl"
              #imageUrlInput="ngModel"
              required
              ImageUrl
            />
            <mat-error *ngIf="imageUrlInput.invalid"
              >Please enter a valid ImageUrl</mat-error
            >
          </mat-form-field>

        <mat-form-field>
            <mat-select [(value)]="selected">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category}}
              </mat-option>
            </mat-select>
          </mat-form-field>

    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      AddProduct
    </button>
  </form>
</mat-card>
